<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Controls.WPF" version="1.0.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40-Client" requireReinstallation="True" />
  <package id="Sigmar" version="1.0.10" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.66.0" targetFramework="net45" />
  <package id="Util.CSharp" version="1.0.12.3" targetFramework="net45" />
</packages>